registry=https://pkgs.dev.azure.com/InnovacionDigitalClaro/_packaging/npm100digital/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/InnovacionDigitalClaro/_packaging/npm100digital/npm/registry/:username=InnovacionDigitalClaro
//pkgs.dev.azure.com/InnovacionDigitalClaro/_packaging/npm100digital/npm/registry/:_password=cWd4cmU1cmhtM3Rna2drNzVoeWlvaDY2NmVucDdzZmloM3dwNWlwNXBldm5mZW9rbTI2cQ==
//pkgs.dev.azure.com/InnovacionDigitalClaro/_packaging/npm100digital/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/InnovacionDigitalClaro/_packaging/npm100digital/npm/:username=InnovacionDigitalClaro
//pkgs.dev.azure.com/InnovacionDigitalClaro/_packaging/npm100digital/npm/:_password=cWd4cmU1cmhtM3Rna2drNzVoeWlvaDY2NmVucDdzZmloM3dwNWlwNXBldm5mZW9rbTI2cQ==
//pkgs.dev.azure.com/InnovacionDigitalClaro/_packaging/npm100digital/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
